{% extends 'base.html' %} hx-get="{% url 'index' %}"
                 hx-target="#barchart"

{% block content %}
    <p class="lead">GDP by  country</p>

    <div class="row">
        <div class="col-10" id="linechart">
            {% include 'partials/gdp-bar.html' %}
        </div>
        <div class="col-2">
                <select
                 name="country"
                 id="select-year"
                 autocomplete="off">
                    {% for year in years %}
                        <option value="{{ year }}" {% if year_selected == year %} selected {% endif %}>{{ year }}</option>
                    {% endfor %}
                </select>
        </div>
    </div>

    
{% endblock %}